body {
  background-image: url("../images/empire_state.jpg");
}

img {
	border: 2px solid black;
}
a {
	color: 5000px black;
}
p {
	font-family: "Arial", Arial, sans-serif;
}

.hey {
	color: red;
	}
.big {
	font-size: 20px;
}